/* header_S */
#header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

}

.inner_header {
    width: 1320px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 13px;
    z-index: 99;
}

.link {
    float: right;
}

.link li {
    float: left;
    margin-top: 10px;
}

.link li a {
    display: block;
    color: #F6F7FC;
    font-size: 12px;
    margin-left: 40px;
}

.link li a:hover {
    color: #93D4F3;
}

.gnb {
    float: left;
}

.gnb li {
    float: left;
    margin-top: 60px;
}

.gnb li a {
    display: block;
    margin: 0 80px;
    padding-bottom: 26px;
    color: #F6F7FC;
    font-size: 18px;
}

.gnb li a:hover {
    color: #93D4F3;
}

.login {
    float: right;
    margin-top: 33px;
}

.login a {
    display: block;
    color: #F6F7FC;
    font-size: 12px;
}

.login a:hover {
    color: #93D4F3;
}

/* header_E */
