
@charset "utf-8";

@font-face {}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}

#wrap {
    min-width: 1320px;
    overflow: hidden;

}
#header_wrap {
    height: 750px;
    position: relative;
    overflow: hidden;
}
/* sub1 */

.SODAchart-banner{
    background: url(../images/sub/1.SODAchart/1.Banner/sodachart_banner.png) no-repeat top center;
    height: 750px;
    position: relative;

}
.SODAchart-banner p{
    position: absolute;
    color: #F6F7FC;
    font-size: 50px;
    font-weight: bold;
}