@charset "utf-8";

@font-face {}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}

#wrap {
    min-width: 1360px;
    overflow: hidden;

}

#header_wrap {
    height: 750px;
    overflow: hidden;
}

.gnb li a:hover,
.gnb li a.on {
    color: #93D4F3;
}

/* banner_S */
.banner {
    background: url(../images/sub/2.NewMusic/1.Banner/banner.png) no-repeat top center;
    height: 750px;
}

/* banner_E */
.list_title {
    margin: 70px 0 30px 0;

}

/* LatestSong_S */
.LatestSong_wrap {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

.LatestSong-line {
    border-top: 3px solid #748FC9;
    border-bottom: 3px solid #748FC9;
    overflow: hidden;
}

.LatestSong-item:first-child {
    border-bottom: 3px solid #748FC9;
    height: 40px;

}
.check_btn:first-child{
    margin-top: 10px;
}
.LatestSong_num span {
    font-size: 16px;
}

.LatestSong {
    float: left;
    margin-right: 20px;
    overflow: hidden;


}

.LatestSong:nth-child(2) {
    margin-right: 0px;
}

.LatestSong-item {
    width: 1320px;
    border-bottom: 1px solid #dedede;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.LatestSong-item:nth-child(6) {
    border-bottom: none
}

.check_wrap {
    margin-left: 20px;
}

.LatestSong-item:nth-child(2):hover,
.LatestSong-item:nth-child(3):hover,
.LatestSong-item:nth-child(4):hover,
.LatestSong-item:nth-child(5):hover,
.LatestSong-item:nth-child(6):hover {
    background-color: #F6F7FC;
}
.LatestSong_info{
    width: 400px;
    margin-left: 175px;
}
.LatestSong_num {
    font-size: 25px;
    width: 110px;
    text-align: center;
}

.LatestSong_thum {
    width: 100px;
    margin: 4px 40px 0 50px ;
}

.LatestSong_song {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.LatestSong_song span{
    color: #8D8D8D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.LatestSong_album{
    width: 300px;
}
.icon_play,
.icon_add,
.icon_download,
.icon_more {
    width: 100px;
    text-align: center;
}
.icon_play img,
.icon_add img,
.icon_download img,
.icon_more img{
    opacity: 70%;

}
.icon_play img:hover,
.icon_add img:hover,
.icon_download img:hover,
.icon_more img:hover
 {
    opacity: 100%;
}

/* LatestSong_E */
/* LatestAlbum_S */
.LatestAlbum_wrap{
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

#slide {
    width: 1320px;
    height: 320px;
    margin: 30px auto;
    padding-top: 100px;
    overflow: hidden;
}

#slide ul li a {
    display: block;
    margin: 5px;
}

.screen {
    position: relative;
    overflow: hidden;
}

.screen img {
    width: 250px;
    display: block;
}

.swiper-slide-active+.swiper-slide+.swiper-slide .bottom {
    bottom: 0%;
}

.swiper-slide,.swiper-slide-active {
    transform: translateY(0px);
    transition: transform 1s;
}

.swiper-slide-active+.swiper-slide+.swiper-slide,.swiper-slide-active {
    transform: translateY(-100px);
}


/* .swiper-slide-active {
    transform: translateY(-100px);
} */

.swiper-button-prev {
    left: 200px;
}

.swiper-button-next {
    left: 100px;
}

.swiper-button-prev {
    content: url(../images/icon/slide_pre.svg);

}

.swiper-button-next {
    content: url(../images/icon/slide_next.svg);

}
.swiper-slide span{
    color: #8D8D8D;
}

/* LatestAlbum_E */
/* LatestPopularVideo_S */
.LatestPopularVideo{
    width: 1320px;
    margin: 0 auto;
}
/* LatestPopularVideo_E */
/* LatestMV_S */
.LatestMV_wrap{
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.LatestMV{
    overflow: hidden;
}
.LatestMV_contents {
    width: 400px;
    height: 300px;
    border: 1px solid #8D8D8D;
    text-align: left;
    overflow: hidden;


}


.LatestMV_imgWrap {
    position: relative;
}

.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;

}

.playbtn:hover {
    opacity: 100%;
    background: url(../images/icon/play_hover.svg) no-repeat;

}
.playtime{
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    width: 40px;
    color: #F6F7FC;
    font-size: 9px;
    text-align: center;
    height: 20px;
    padding-bottom: 3px;

}

.LatestMV_text {
    padding: 10px 20px;
    color: #8D8D8D;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.LatestMV_text span {
    font-weight: bold;
    color: #333333;
    font-size: 16px;
}

.LatestMV_text p {
    display: inline-block;
    margin-top: 3px;
}

.LatestMV_text p::after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background-color: #8D8D8D;
    margin: 0 5px 0 8px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }



/* LatestMV_E */